:root {
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  padding: 0px 15px;
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 215px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.section {
  padding-top: 94px;
}

.section-title {
  color: var(--tittle-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.button {
  background-color: var(--primary-white-color);
  color: var(--tittle-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  width: 202px;
  height: 50px;
  border: 0;
  padding: 10px 32px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover, .button.primary:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.secondary {
  background-color: #f5f4fa;
  color: var(--tittle-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 5px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.secondary:hover, .button.secondary:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.button.primary.subscribe-form-btn {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-left: 12px;
  padding: 10px 28px;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
}

.logotip {
  color: #000000;
}

.logotips {
  color: var(--primary-white-color);
}

@media (min-width: 768px) {
  .logo {
    margin-top: 26px;
  }
}

@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  padding-bottom: 30px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--primary-white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-bottom: 10px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-80%);
  display: block;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-desc {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.modal-form-desc::before {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  border: solid 1px #212121;
  margin-right: 8px;
}

.modal-form-term:checked + .modal-form-desc::before {
  background-image: url(../images/SVG/icon-check.svg);
}

.modal-form-desc-link {
  color: var(--accent-color);
}

@media (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .modal-form-desc {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form-btn {
  width: 200px;
  margin-left: 84px;
}

.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  padding-top: 6px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  /* transform: fill 1000ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.modal-close-btn-svg {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 22px;
  height: 22px;
  fill: var(--tittle-text-color);
  transform: fill 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:focus .modal-close-btn-svg,
.modal-close-btn:hover .modal-close-btn-svg {
  fill: var(--accent-color);
}

@media (min-width: 1200px) {
  .modal-form-btn {
    margin-left: 120px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.navigation {
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-nav,
.contact-list {
  display: none;
}

.mobile-menu {
  display: none;
}

.mobile-open-btn {
  display: none;
}

@media (max-width: 768px) {
  .mobile-open-btn {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .mobile-open-icon {
    width: 40px;
    height: 40px;
    fill: #000;
  }
  .mobile-open-btn:focus .mobile-open-icon {
    fill: #2196f3;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    max-width: 480px;
    height: 100vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 48px 40px;
    background-color: #fff;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu-close-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 15px;
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
  }
  .mobile-menu .site-nav > li {
    margin-bottom: 32px;
  }
  .mobile-menu-close-icon {
    position: absolute;
    top: 5px;
    left: 4px;
    width: 40px;
    height: 40px;
    fill: #000;
  }
  .mobile-menu-close-btn:focus .mobile-menu-close-icon {
    fill: #2196f3;
  }
  .mobile-menu .site-nav {
    display: block;
  }
  .mobile-menu .contact-list {
    display: block;
    margin-top: auto;
  }
  .menu-social-list {
    display: flex;
    justify-content: space-around;
    margin-right: 43px;
  }
  .menu-social-list-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .link {
    text-decoration: none;
    color: #212121;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .link-contact {
    text-decoration: none;
  }
  .mobile-menu .link-contact.mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mobile-menu .link-contact.tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .mobile-menu .contact-list li:first-child {
    margin-bottom: 32px;
  }
  .mobile-menu .contact-list li:last-child {
    margin-bottom: 64px;
  }
  .site-nav .link.current {
    color: var(--accent-color);
  }
  .menu-social-list-item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

@media (min-width: 768px) {
  .nav-conteiner {
    display: flex;
  }
  .navigation {
    display: flex;
    padding: 0;
  }
  .site-nav {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 88px;
    margin-right: 84px;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
  .contact-list li:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav .link {
    color: var(--tittle-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color);
  }
  .site-nav li {
    position: relative;
  }
  .site-nav li:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav .link.current {
    color: var(--accent-color);
  }
  .site-nav .link.current::after {
    position: absolute;
    left: 0;
    top: 51px;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
  }
  .link-contact {
    display: flex;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-contact:hover, .link-contact:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  .email-icon {
    width: 14px;
    height: 10px;
    margin-right: 8px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mail:hover .email-icon,
  .mail:focus .email-icon {
    fill: var(--accent-color);
  }
  .mail {
    margin-bottom: 10px;
    margin-top: 21px;
  }
  .tel-icon {
    width: 10px;
    height: 14px;
    margin-right: 8px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel:hover .tel-icon,
  .tel:focus .tel-icon {
    fill: var(--accent-color);
  }
}

@media (min-width: 1200px) {
  .nav-conteiner {
    justify-content: space-between;
  }
  .contact-list {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
  }
  .mail {
    margin: 0;
  }
  .tel {
    width: 142px;
  }
  .link-contact.mail,
  .link-contact.tel {
    font-size: 14px;
    line-height: 1.14;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  width: 360px;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Background/bg-mobile@2x.jpg");
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    padding: 118px 60px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Background/bg-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Background/Header@2x.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    padding: 118px 60px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Background/Header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 1200px), screen and (min-resolution: 192dpi) and (max-width: 1200px), screen and (min-resolution: 2dppx) and (max-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Background/bg@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 280px;
    padding-left: 452px;
    padding-right: 452px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Background/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .hero-title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.title-advantages {
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-icon-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.advantages-icon {
  display: block;
  padding: 25px 100px;
  background-color: #F5F4FA;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  text-align: center;
}

.item-icon {
  width: 70px;
  height: 70px;
}

.title-advantages-text:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .advantages-icon-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -30px;
    margin-left: -30px;
  }
  .advamtages-box {
    position: relative;
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    height: 251px;
  }
  .advantages-icon {
    display: block;
    padding: 25px 100px;
    background-color: #F5F4FA;
    width: 354px;
    height: 120px;
    margin-bottom: 30px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .advantages-icon-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
  }
  .advamtages-box {
    width: 270px;
    margin: 0;
  }
  .advantages-icon {
    width: 270px;
  }
}

@media (max-width: 1200px) {
  .what-are-section {
    display: none;
  }
}

.work-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 94px;
}

.work-list-item {
  position: relative;
}

.work-list-title {
  position: absolute;
  text-align: center;
  font-weight: 700;
  height: 70px;
  padding-top: 26px;
  left: 0;
  right: 0;
  top: 224px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-customer {
  padding-bottom: 60px;
}

.regular-customers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -30px;
  margin-left: -30px;
}

.regular-customers-item {
  position: relative;
  width: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.customers-icon {
  display: inline-block;
  fill: #AFB1B8;
  padding: 22px 45px;
  max-width: 210px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-icon:hover .customers-icon,
.regular-customers-icon:focus .customers-icon {
  fill: var(--accent-color);
  border: 1px solid #2196f3;
}

@media (min-width: 768px) {
  .regular-customers-item {
    width: calc(100% / 3 - 30px);
  }
}

@media (min-width: 1200px) {
  .regular-customers {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
  }
  .regular-customers-item {
    position: relative;
    width: 170px;
    margin: 0;
  }
  .customers-icon {
    padding: 22px 45px;
    max-width: 170px;
    height: 90px;
  }
  .section-customer {
    padding-bottom: 94px;
  }
}

.employees {
  background-color: #f5f4fa;
}

.employees-list {
  display: flex;
  flex-direction: column;
}

.employees-list > li {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employees-list > li:not(:last-child) {
  margin-bottom: 30px;
}

.employees-list .employees-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
}

.employees-list .employees-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.employees-name {
  color: var(--tittle-text-color);
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
}

.employees-position {
  text-align: center;
}

.employees-box {
  padding-left: 32px;
  padding-right: 32px;
}

@media (min-width: 768px) {
  .employees-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -30px;
    margin-left: -30px;
  }
  .employees-list > li {
    margin: 0;
    position: relative;
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  .employees-list > li:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .employees-list {
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 0;
  }
  .employees-list > li {
    width: 270px;
    margin: 0;
  }
  .employees-container {
    padding-bottom: 94px;
  }
}

.low {
  background-color: #2f303a;
}

.low-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.enjoy-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.low-container {
  padding-top: 60px;
}

.low .link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.low .link:hover, .low .link:focus {
  color: var(--accent-color);
}

.addr {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 20px;
  margin-bottom: 8px;
}

.contacts-box {
  text-align: center;
}

.contacts-box .list {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.link-mail {
  margin-bottom: 8px;
}

.enjoy .social-list {
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 0;
}

.subscribe-title {
  text-align: center;
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-email {
  min-width: 450px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.subscribe-email-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}

@media (min-width: 768px) {
  .low-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
  }
  .subscribe {
    margin-left: 166px;
  }
  .contacts-box {
    margin-left: 61px;
  }
  .enjoy {
    margin-right: 75px;
  }
}

@media (min-width: 1200px) {
  .low-container {
    flex-wrap: nowrap;
  }
  .contacts-box {
    margin: 0;
    text-align: left;
  }
  .subscribe {
    margin: 0;
  }
  .subscribe-form {
    margin: 0;
    flex-direction: row;
    align-items: baseline;
  }
  .enjoy {
    margin: 0;
  }
  .subscribe-title {
    text-align: left;
  }
}

.line {
  border-bottom: 1px solid #ececec;
}

/* Button */
.list-button {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 40px;
}

.list-button li:not(:last-child) {
  margin-right: 8px;
}

.list-button > li:not(:nth-child(4)),
.list-button > li:not(:nth-child(5)) {
  margin-bottom: 15px;
}

/* Pictures Gallery  */
.gallery-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.gallery-list .gallery-item {
  width: 450px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item:not(:last-child) {
  margin-bottom: 30px;
}

.thumb-text-card {
  position: relative;
  overflow: hidden;
}

.picture {
  text-decoration: none;
}

.div-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.picture:hover .div-box,
.picture:focus .div-box {
  transform: translateY(0);
}

.gallery-box {
  border: solid 1px #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.picture:hover .gallery-box {
  z-index: 10;
}

.gallery-item:hover,
.gallery-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.picture-name {
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.picture-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

@media (min-width: 768px) {
  .mobile-open-btn {
    display: none;
  }
  .list-button {
    justify-content: center;
  }
  .gallery-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .gallery-list .gallery-item {
    position: relative;
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    height: 440px;
  }
  .gallery-box {
    width: 354px;
    height: 146px;
  }
  .gallery-item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .gallery-item {
    width: 370px;
  }
  .gallery-box {
    width: 370px;
    height: 110px;
  }
  .gallery-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    margin-bottom: 94px;
  }
  .gallery-list .gallery-item {
    position: relative;
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    height: 404px;
  }
}
/*# sourceMappingURL=main.css.map */