h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);

    font-family: roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}